<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>吃·品兰亭</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

        <!--导航-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
          <div class="ui container">
            <div class="ui inverted secondary stackable menu">
              <h2 class="ui teal header item">亭上美景</h2>
              <a href="./index.html" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;&nbsp;&nbsp;首页</a>
              <a href="./types.html" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;&nbsp;&nbsp;衣·穿兰亭</a>
              <a href="./tags.html" class="active m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;&nbsp;&nbsp;吃·品兰亭</a>
              <a href="./archives.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>&nbsp;&nbsp;&nbsp;住·息兰亭</a>
              <a href="./museum.html" class=" m-item item m-mobile-hide"><i class="mini info icon"></i>&nbsp;&nbsp;&nbsp;行·游兰亭</a>
              <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                  <input type="text" placeholder="Search....">
                  <i class="search link icon"></i>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
          </a>
        </nav>



<div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
  <div class="ui container">
    <div class="ui top attached segment">
      <div class="ui horizontal link list">
        <div class="item">
          <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg" alt="" class="ui avatar image">
          <div class="content"><a href="#" class="header">C_T_X</a></div>
        </div>
        <div class="item">
          <i class="calendar icon"></i> 2022-8-15
        </div>
        <div class="item">
          <i class="eye icon"></i> 2342
        </div>
      </div>
    </div>
    <div class="ui attached segment">
      <!--图片区域-->
      <img src="http://5b0988e595225.cdn.sohucs.com/images/20171117/4ae3377b4f4f4e229e12dc8ef8f2800f.jpeg" alt="" class="ui fluid rounded image">
    </div>
    <div class="ui  attached padded segment">
      <!--内容-->

      <h2 class="ui center aligned header">兰亭美食</h2>

      <image id="content" class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large">

  <p><span style="font-size: 16px;">变的不仅仅是地址，还有环境，店面整个都上了一个档次。</span></p> 
  

  <img src="http://5b0988e595225.cdn.sohucs.com/images/20171117/07fb534a7f7e4b10b7884da3053ec362.jpeg" alt="" class="ui fluid rounded image">
  <p><span style="font-size: 16px;">看看以前嵩山路的兰亭，不起眼的小门店，招牌也是旧旧的。</span></p> 
  
  <p>
    <img src="http://5b0988e595225.cdn.sohucs.com/images/20171117/bcf32003a26f4c9ab132f697d6b08953.jpeg" alt="" class="ui fluid rounded image">
  <p>
    <span style="font-size: 16px;">等位还得坐在街边等，天冷的时候那个风吹的哦，吃顿饭还要让风刮脸，心塞塞。</span></p> 

  <p>
    <span style="font-size: 16px;">现在好了，店面不仅比以前大很多，也敞亮了，墙上还有很多写意的山水画，等位也能在店内等。</span></p> 
  
  <p>
    <img src="http://5b0988e595225.cdn.sohucs.com/images/20171117/d6da53c44e2d480ba326225b9f6cbaca.gif" alt="" class="ui fluid rounded image">
  </p> 
  <p>
    <span style="font-size: 16px;">晨最小姐姐前几天组队去新兰亭吃了一顿，搬迁后的兰亭还是够嗲~</span></p> 
  
  <p>
    <span style="font-size: 16px;">小姐姐中午11:20到达兰亭，桌子就差不多已经坐满了，到11点半基本就开始叫号等位了，11点营业，半个小时就坐满，还好小姐姐来得早。</span>
  </p> 
  <p>
    <img src="http://5b0988e595225.cdn.sohucs.com/images/20171117/a5475ba0f86846c488e2975623dc846e.gif" alt="" class="ui fluid rounded image">
  </p> 
  <p>
    <span style="font-size: 16px;">友情提示：人到齐了才能入座哦~</span></p> 
  
  <p style="text-align: center;"><img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvYNhjVs5JlrxKuEMQ5XB/DbAzetd47R0LKTwLOON0QCw7UzIUqxccBFCOtk6xBFFT" /></p> 
  <p>
    <span style="font-size: 16px;">坐定后点菜，菜单是简单的白纸A4，宋体直接打了4个字“兰亭餐厅”，字体加粗的是推荐菜。一起去的小姐姐忍不住说<span style="font-size: 16px;">：这也太朴素了，现在哪家餐厅敢这样。</span></span></p> 
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTveiBOnWTUvrk+GN3oLTMD4H+7S4PGRachXdq/s/H5JL8UAgfQwEWldCyn2DYZ4Ack" /></p> 
  <p>
    <span style="font-size: 16px;">人家菜单简单，但是东西真的赞。晨最小姐姐共3个人，点了8个菜，几乎都扫盘了！</span></p> 
  <p>
    <span style="font-size: 16px;"><strong>面拖黄鱼 36元</strong></span></p> 
  
  <p>
    <img data-src="http://5b0988e595225.cdn.sohucs.com/images/20171117/e4c2117e5dbc4945933fff8c60ede631.jpeg" /></p> 
  <p>
    <span style="font-size: 16px;">这是小姐姐的最爱，外焦里嫩，清清爽爽，黄鱼真的是新鲜，完全没腥味，外皮一点都不厚重，一看就是新油炸的，金黄金黄的。</span></p> 
  <p>
    <img data-src="8hCxwV6Bbll9+i0BB34zCitHJR5Bp3kFIZeSsGfae4+jmrOZvpSulw3dCjsAaOhsYMgpOFDUfPvru33tFkysT5XlSEHPwmefyCDdrk2qeJY=" /></p> 
  <p>
    <span style="font-size: 16px;">一盘六七个完全不够吃~</span></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvnn4n39+nosZb8vBjbIpYUNqWYuKXpXLtPuIa0jovHbNLxKYWVTRz1YJrfL0sA98l" /></p> 
  <p>
    <span style="font-size: 16px;"><strong>鸡骨酱 34元</strong></span></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvy85Gwg/aTORts4ahIDKl/60O4vGuFH6KOhPxEwYYMlNCDkj9oCo7QT4oMSa4OA0F" /></p> 
  <p>
    <span style="font-size: 16px;">浓油赤酱的鸡骨酱是上海人最爱的下饭菜之一，兰亭的鸡骨酱算是来这的必点菜。肉质入味，口感爽滑，是配饭的好搭档~</span></p> 
  <p>
    <span><strong><span style="font-size: 16px;">糖醋排条 32元</span></strong></span></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvjzb/Y1CBjQ0fM2hw96QTRo4MGgFNkADs3w69ENmce/TR1lvWX0Y6qUOQr6qsmr39" /></p> 
  <p>
    <span style="font-size: 16px;">酸酸甜甜，很可口，排条多汁有嚼劲~吃完一整盘都不腻。</span></p> 
  <p>
    <strong><span style="font-size: 16px;">油爆虾 48元</span></strong></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTv8dzAmtSYBMo6sgIGWax2K/MOwDeKwsXB0G15LXbtvrOxRja5hM0PHt2sHL0C4Ww8" /></p> 
  <p>
    <span style="font-size: 16px;">油爆虾也很入味，河虾鲜美还带着葱花和酱油的浓香。看到这些虾的透亮纹理，就很想吃有木有！</span></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvKtqiqPSq4JzQTb9OhoHOXdwln9EOxp/Bt1YzUCzaOEyg/u4wRbqAiUh88YGidIeL" /></p> 
  <p>
    <strong><span style="font-size: 16px;">荠菜肉丝豆腐羹 22元</span></strong></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvDRaEZsXAoPwK/8Z+j6YSb7/OPtKThQxGkDY2fv/NuqqOmvVAcnyMsRufqpBuvSWa" /></p> 
  <p>
    <span style="font-size: 16px;">量很足，随便搅搅都是料，勾芡勾得刚刚好，喝起来很爽口，饭前来一碗暖暖胃，饭后再来一碗清清肠。</span></p> 
  
  <p style="text-align: center;"><img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvx2i2W+HZ8VKIbe72CDnq6LJykh99SOffLtVtZUceitVJeWTSii3C0NleA3/hYhhz" /></p> 
  <p>
    <strong><span style="font-size: 16px;">响油鳝丝 42元</span></strong></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvKI81G3DApzaU51TBPPPE9phMlKG7bmZz4ckTgm+3EGwsudZfaOpKgUSi/p75H4qK" /></p> 
  <p>
    <span style="font-size: 16px;">兰亭家的响油鳝丝也很经典，鳝丝很嫰，完全不塞牙，虽然看起来用了不少油，但吃起来很清爽，分分钟空盘的节奏。</span></p> 
  <p style="text-align: center;"><img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvw1/AGVmKZK7G7zX3QiiJdCHKI9nVDqvwS71r/hiLoNtYzaj532lvTiPBMDDARIsU" /></p> 
  <p>
    <span><strong><span style="font-size: 16px;">兰亭炒饭 25元</span></strong></span></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvhV3jnmb0iJdKRaIPfx4t7axLTlVZmtp5otx1SoyQuSZFSOFevdmjGNUooSoPZt+W" /></p> 
  <p>
    <span style="font-size: 16px;">米饭粒粒分明，搭配鸡蛋、肉丁、甜豆、火腿、胡萝卜，咸度适中，真好味！</span></p> 
  
  <p style="text-align: center;"><img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvEE6xXZaGxbn1VdUIjy4d2kj2IKg+6R1bf7qWHoIcA++lsyNhXJfME7MuGtLapqxA" /></p> 
  <p>
    <strong><span style="font-size: 16px;">腐乳空心菜 22元</span></strong></p> 
  
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTvgtLz0MypKwB0xYNL1NF4eSe9sY4eqhN53LXp5DLYJ1L1cOaTwE4P6z7LFADNvYU2" /></p> 
  <p>
    <span style="font-size: 16px;">可能不是应季蔬菜，空心菜嚼起来感觉有些老，腐乳味道也不是很重，蛮清淡的。</span></p> 
  
  <p>
    <span style="font-size: 16px;">小姐姐吃完这一顿真的大满足，兰亭真不是盖的，换了新店，味道还是一样棒！看看人家墙上挂的奖状，名副其实~</span></p> 
  <p>
    <img data-src="15Dad0hum5pjRPFotVZzc5xUR/ar/PIFoxOLOXCFEmzPb3DKr9ZuGuCIwDoFKLTv0HWPNd4LaB6+aGzWOKzHxlriLTcGrO6zyE+TqTozPLiWAGl55ig/S+qbXq7sTPUu" /></p> 
  <p style="text-align: center;"><span style="font-size: 16px;">图片via上海必吃美食</span></p> 
  
  <p>
    <span style="font-size: 16px;">对了，即使搬到了黄金地段，价格还跟原来一样，八个菜，价格三百不到，真·业界良心！</span></p> 
  <p>
    <span style="font-size: 16px;">菜单简简单单，摆盘普普通通，没有啥花里胡哨的包装，兰亭卖的还是食物的好滋味，这样的餐厅有多少都不嫌多！</span></p> 
  






        



        


        
        













       



      <!--赞赏-->
      <div class="ui center aligned basic segment">
        <button id="payButton" class="ui orange basic circular button">赞赏</button>
      </div>
      <div class="ui payQR flowing popup transition hidden">
        <div class="ui orange basic label">
          <div class="ui images" style="font-size: inherit !important;">
            <div class="image">
              <img src="../static/images/wechat.jpg" alt="" class="ui rounded bordered image" style="width: 120px">
              <div>支付宝</div>
            </div>
            <div class="image">
              <img src="../static/images/wechat.jpg" alt="" class="ui rounded bordered image" style="width: 120px">
              <div>微信</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="ui attached positive message">
      <!--博客信息-->
      <div class="ui middle aligned grid">
        <div class="eleven wide column">
          <ui class="list">
            <li>图片来自网络</li>
            <li>文章内容介绍来自相关微信公众号</li>
            <li>如有侵权请及时联系</li>
          </ui>
        </div>
        <div class="five wide column">
          <img src="../static/images/wechat.jpg" alt="" class="ui right floated rounded bordered image" style="width: 110px">
        </div>
      </div>
      
    </div>
    <div id="comment-container" class="ui bottom attached segment">
      <!--留言区域列表-->
      <div class="ui teal segment">
        <div class="ui threaded comments">
          <h3 class="ui dividing header">Comments</h3>
          <div class="comment">
            <a class="avatar">
              <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
            </a>
            <div class="content">
              <a class="author">Matt</a>
              <div class="metadata">
                <span class="date">Today at 5:42PM</span>
              </div>
              <div class="text">
                How artistic!
              </div>
              <div class="actions">
                <a class="reply">回复</a>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
            </a>
            <div class="content">
              <a class="author">Elliot Fu</a>
              <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
              </div>
              <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
              </div>
              <div class="actions">
                <a class="reply">回复</a>
              </div>
            </div>
            <div class="comments">
              <div class="comment">
                <a class="avatar">
                  <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
                </a>
                <div class="content">
                  <a class="author">Jenny Hess</a>
                  <div class="metadata">
                    <span class="date">Just now</span>
                  </div>
                  <div class="text">
                    Elliot you are always so right :)
                  </div>
                  <div class="actions">
                    <a class="reply">回复</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
            </a>
            <div class="content">
              <a class="author">Joe Henderson</a>
              <div class="metadata">
                <span class="date">5 days ago</span>
              </div>
              <div class="text">
                Dude, this is awesome. Thanks so much
              </div>
              <div class="actions">
                <a class="reply">回复</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui form">
        <div class="field">
          <textarea name="content" placeholder="请输入评论信息..."></textarea>
        </div>
        <div class="fields">
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="nickname" placeholder="姓名">
            </div>
          </div>
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" name="email" placeholder="邮箱">
            </div>
          </div>
          <div class="field  m-margin-bottom-small m-mobile-wide">
            <button class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>












  <br>
  <br>
  <!--底部footer-->
  <footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email: chentingxian195467@163.com</a>
            <a href="#" class="item">QQ: 1970438209</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">介绍</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">这是博客，一篇博客，一篇完整的博客。如果你想了解更多，可以扫描左侧二维码，虽然不一定有用</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2022 C_T_X Designed by Lirenmi(B站), wrote by me for JavaEE work</p>
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
</body>
</html>