<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>衣·穿兰亭</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui teal header item">亭上美景</h2>
          <a href="./index.html" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;&nbsp;&nbsp;首页</a>
          <a href="./types.html" class="active  m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;&nbsp;&nbsp;衣·穿兰亭</a>
          <a href="./tags.html" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;&nbsp;&nbsp;吃·品兰亭</a>
          <a href="./host.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>&nbsp;&nbsp;&nbsp;住·息兰亭</a>
          <a href="./walking.html" class=" m-item item m-mobile-hide"><i class="mini info icon"></i>&nbsp;&nbsp;&nbsp;行·游兰亭</a>
          <div class="right m-item item m-mobile-hide">
            <div class="ui icon inverted transparent input m-margin-tb-tiny">
              <input type="text" placeholder="Search....">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
      </a>
    </nav>


  <!--中间内容-->
  <div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
    <div class="ui container">
      <div class="ui top attached segment">
        <div class="ui horizontal link list">
          <div class="item">
            <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg" alt="" class="ui avatar image">
            <div class="content"><a href="#" class="header">C_T_X</a></div>
          </div>
          <div class="item">
            <i class="calendar icon"></i> 2022-8-15
          </div>
          <div class="item">
            <i class="eye icon"></i> 2342
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <!--图片区域-->
        <img src="http://img.ef43.com.cn/brandPic/2013/11/14163623976.jpg" alt="" class="ui fluid rounded image">
      </div>
      <div class="ui  attached padded segment">
        <!--内容-->

          <h2 id="section1">兰亭女装品牌介绍</i></h2>

          <p class="typo-first">“清风入袖，明月入怀”。《兰亭序》的艺术境界，也即“蘭亭”之所追求。
            “蘭亭”以形态优美，潇洒飘逸，骨格清秀，疏密相间，布局巧妙，在尺幅之内蕴含着精致艺术的境
            界。2009年，在广州横空出世的“蘭亭”，品质高洁，绽放诗意，有著当代东方文化艺术的韵律，
            融合《兰亭》的艺术精华与东方时装的匠心独具，透过品牌的内涵，带领时尚穿
            梭千年的人文经典，让历史的风采与时代的风貌制成恰到好处的剪裁轮廓。“蘭亭
            ”，为东方美学量身订制的不啻是时空的移转，更是时尚中国风的新定位。“蘭亭”坚
            持着不随波逐流的信念，品味更足以传世不朽，让经典一衣带水恒古至今。</p>
            <p class="typo-first">“蘭亭”设计总监暨品牌灵魂人物——廖思思，对于服装工艺丝丝入扣，从布质的触感
            到光泽的呈现，纵模纺织的纹理图案都一丝不苟，自我要求。元素的研发到技术工艺
            、从色彩到线条、从雅致到时尚，用心在一针一线里，相知相惜中。“蘭亭”品牌每一
            个创作都是以传承诗意东方与工艺西方为极限，让传世的作品能恒古铄金。</p>


          <h2 id="section2">女装新款展示</h2>
          <h4>疗养地</h4>

          <div>
            <img src="../static/images/clothes.png" alt="" class="ui fluid rounded image">
          </div>



   
          
          






         
          


        <!--赞赏-->
        <div class="ui center aligned basic segment">
          <button id="payButton" class="ui orange basic circular button">赞赏</button>
        </div>
        <div class="ui payQR flowing popup transition hidden">
          <div class="ui orange basic label">
            <div class="ui images" style="font-size: inherit !important;">
              <div class="image">
                <img src="../static/images/wechat.jpg" alt="" class="ui rounded bordered image" style="width: 120px">
                <div>支付宝</div>
              </div>
              <div class="image">
                <img src="../static/images/wechat.jpg" alt="" class="ui rounded bordered image" style="width: 120px">
                <div>微信</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="ui attached positive message">
        <!--博客信息-->
        <div class="ui middle aligned grid">
          <div class="eleven wide column">
            <ui class="list">
              <li>图片来自网络</li>
              <li>文章内容介绍来自相关微信公众号</li>
              <li>如有侵权请及时联系</li>
            </ui>
          </div>
          <div class="five wide column">
            <img src="../static/images/wechat.jpg" alt="" class="ui right floated rounded bordered image" style="width: 110px">
          </div>
        </div>
        
      </div>
      <div id="comment-container" class="ui bottom attached segment">
        <!--留言区域列表-->
        <div class="ui teal segment">
          <div class="ui threaded comments">
            <h3 class="ui dividing header">Comments</h3>
            <div class="comment">
              <a class="avatar">
                <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 5:42PM</span>
                </div>
                <div class="text">
                  How artistic!
                </div>
                <div class="actions">
                  <a class="reply">回复</a>
                </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
              </a>
              <div class="content">
                <a class="author">Elliot Fu</a>
                <div class="metadata">
                  <span class="date">Yesterday at 12:30AM</span>
                </div>
                <div class="text">
                  <p>This has been very useful for my research. Thanks as well!</p>
                </div>
                <div class="actions">
                  <a class="reply">回复</a>
                </div>
              </div>
              <div class="comments">
                <div class="comment">
                  <a class="avatar">
                    <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
                  </a>
                  <div class="content">
                    <a class="author">Jenny Hess</a>
                    <div class="metadata">
                      <span class="date">Just now</span>
                    </div>
                    <div class="text">
                      Elliot you are always so right :)
                    </div>
                    <div class="actions">
                      <a class="reply">回复</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="https://i0.hippopx.com/photos/320/918/427/sky-clouds-sunlight-dark-thumb.jpg">
              </a>
              <div class="content">
                <a class="author">Joe Henderson</a>
                <div class="metadata">
                  <span class="date">5 days ago</span>
                </div>
                <div class="text">
                  Dude, this is awesome. Thanks so much
                </div>
                <div class="actions">
                  <a class="reply">回复</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <textarea name="content" placeholder="请输入评论信息..."></textarea>
          </div>
          <div class="fields">
            <div class="field m-mobile-wide m-margin-bottom-small">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="nickname" placeholder="姓名">
              </div>
            </div>
            <div class="field m-mobile-wide m-margin-bottom-small">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" name="email" placeholder="邮箱">
              </div>
            </div>
            <div class="field  m-margin-bottom-small m-mobile-wide">
              <button class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <br>
  <br>
  <!--底部footer-->
  <footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email: chentingxian195467@163.com</a>
            <a href="#" class="item">QQ: 1970438209</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">介绍</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">这是博客，一篇博客，一篇完整的博客。如果你想了解更多，可以扫描左侧二维码，虽然不一定有用</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2022 C_T_X Designed by Lirenmi(B站), wrote by me for JavaEE work</p>
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
</body>
</html>
