<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>行·游兰亭</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css">
      </head>
      <body>
      
        <!--导航-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
          <div class="ui container">
            <div class="ui inverted secondary stackable menu">
              <h2 class="ui teal header item">亭上美景</h2>
              <a href="./index.html" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;&nbsp;&nbsp;首页</a>
              <a href="./types.html" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;&nbsp;&nbsp;衣·穿兰亭</a>
              <a href="./tags.html" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;&nbsp;&nbsp;吃·品兰亭</a>
              <a href="./archives.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>&nbsp;&nbsp;&nbsp;住·息兰亭</a>
              <a href="./museum.html" class="active m-item item m-mobile-hide"><i class="mini info icon"></i>&nbsp;&nbsp;&nbsp;行·游兰亭</a>
              <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                  <input type="text" placeholder="Search....">
                  <i class="search link icon"></i>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
          </a>
        </nav>

 <!--中间内容-->
 <div  class="m-container m-padded-tb-big">
  <div class="ui container">
    <div class="ui stackable grid">

      <!--鹅池 左边博客列表-->
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="../static/images/echui1.png" style="width: 1300px" alt="" class="ui rounded image">
        </div>
        <div class="ui segment">
          <img src="../static/images/echi2.png" style="width: 1300px" alt="" class="ui rounded image">
        </div>
      </div>
      <!--鹅池 右边的介绍-->
      <div class="five wide column">
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">关于鹅池</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">鹅池是兰亭的第一个景点。池水清碧，白鹅戏水，诉说着王羲之爱鹅、养鸡鹅、书鹅的传说。池边立石质三角亭“鹅池碑亭”。
              亭中之碑系清同治年间建，上书“鹅池”二字，相传“鹅”字为王羲之所书、“池”字王献之所书，父子合璧，成为千古佳话，被人称为“父子碑”。</p>
          </div>

          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">兰亭</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">绍兴</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">流觞曲水</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">文字雅集</div>
          </div>

          <div class="ui bottom attached segment">
            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="2013299721" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>


      <!--兰亭碑亭 左边博客列表-->
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="../static/images/ltbt.png" style="width: 1300px" alt="" class="ui rounded image">
        </div>
        <div class="ui segment">
          <img src="https://youimg1.c-ctrip.com/target/10070z000000mye5gA176.jpg" style="width: 1300px" alt="" class="ui rounded image">
        </div>
      </div>
      <!--兰亭碑亭 右边的top-->
      <div class="five wide column">
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">兰亭碑亭</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">兰亭碑亭是兰亭的标志性建筑，建于清康熙年间。碑上的“兰亭”两字，为康熙皇帝御笔所书。
              文革时期此碑被红卫兵砸成四块，后于80年修复，但已留下了“兰”字缺尾，“
              亭”字缺头的遗憾。许多民众都喜欢用手去摸这块残碑，碑已被摸的非常光滑，所以又称“君民碑”。</p>
          </div>

          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">兰亭</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">绍兴</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">兰亭碑亭</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">千古留名</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="2013299721" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
          </div>
        </div>
      </div>


      <!--曲水流觞 左边博客列表-->
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="https://tse3-mm.cn.bing.net/th/id/OIP-C.VZrQxh6noHBYXpwvuAbJMQHaEN?w=299&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 1300px" alt="" class="ui rounded image">
        </div>
        <div class="ui segment">
          <img src="https://tse3-mm.cn.bing.net/th/id/OIP-C.pvaHXe-CYiymEEB-m68cfAHaE8?w=223&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 1300px" alt="" class="ui rounded image">
        </div>
      </div>
      <!--曲水流觞 右边的top-->
      <div class="five wide column">
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">曲水流觞</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">流觞亭前，一条“之”字形的曲水，中间有一块木化石，上面刻着“曲水流觞”4个字。显现了王羲之《兰亭集序》所描
              绘的景象“此地有崇山峻岭，茂林修竹，又有清流急湍，映带左右，引以为流觞曲水”。相传，王羲之与名人雅士饮酒作诗，活动中诗作
              汇集成册称之为《兰亭集》，推荐主人王羲之为之作序，王羲之欣然答应，趁着酒兴，用
              鼠须笔和蚕茧纸一气呵成《兰亭集序》，后人称为“天下第一行书”。每年很多文人墨客都喜欢来这里仿效王羲之，
              兰亭雅集，饮酒赋诗。每年书法节都要在此举行曲水流觞的雅集盛会。</p>
          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">兰亭</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">绍兴</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">流觞曲水</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">文字雅集</div>
          </div>

          <div class="ui bottom attached segment">
            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="2013299721" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>


      <!--流觞亭 左边博客列表-->
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.xIjyaKdyjhuH3pVnHPNI3QHaE7?w=261&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 1300px" alt="" class="ui rounded image">
        </div>
        <div class="ui segment">
          <img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.2Uz2Zs-EgXxKvg5fvGPf2QHaE7?w=242&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 1300px" alt="" class="ui rounded image">
        </div>
      </div>
      <!--流觞亭 右边的top-->
      <div class="five wide column">
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">流觞亭</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">亭上匾额“流觞亭”三个大字为光绪江夏太守李树堂题。旁边对联“此地似曾游，想当年列坐流觞未尝无我；
              仙缘难逆料，问异日重来修禊能否逢君”是由徐生翁撰句，兰亭书会会长沈定庵先生所写。亭内陈列着由“兰亭修禊图”、“曲水流觞图”及当年的流觞用具复制品，
              向游客展现着王羲之曲水流觞的场景。亭背面还另悬由清同治年间湘潭人杨恩澍所书的当年参加雅集盛事之一的一代文宗孙绰所作的《兰亭后序》全文。</p>
          </div>

          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">兰亭</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">绍兴</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">流觞曲水</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">管弦作乐</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="2013299721" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>


      <!--博物馆 左边博客列表-->
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="https://tse1-mm.cn.bing.net/th/id/OIP-C.oHBobl4j2Fh5JIrgiEe_PQAAAA?w=188&h=189&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 1300px" alt="" class="ui rounded image">
        </div>
        <div class="ui segment">
          <img src="https://tse3-mm.cn.bing.net/th/id/OIP-C.gPrxHU3MQook_9Gp7B2HqAHaE6?w=261&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 1300px" alt="" class="ui rounded image">
        </div>
      </div>
      <!--博物馆 右边的top-->
      <div class="five wide column">
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">博物馆</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">书法博物馆建于1988年，依山傍水，里面陈列着中国书法简史，
                和美籍华人陈亦尧捐献的各种瓷砚收藏，并不定时举办各种书法展览。</p>
          </div>

          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">兰亭</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">绍兴</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">博物而近史</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">临水而近人</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="2013299721" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>






      </div>



    </div>
  </div>

</div>
















  <br>
  <br>
  <!--底部footer-->
  <footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email: chentingxian195467@163.com</a>
            <a href="#" class="item">QQ: 1970438209</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">介绍</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">这是博客，一篇博客，一篇完整的博客。如果你想了解更多，可以扫描左侧二维码，虽然不一定有用</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2022 C_T_X Designed by Lirenmi(B站), wrote by me for JavaEE work</p>
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
</body>
</html>
